.card{
    position: relative;
    margin-top: 15px;
    
}
.card-img{
    height: 200px;
    border-radius: 10px;
    width: 100%;
}
.card-body{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
