#con{
    padding: 0;
    margin: 0;
}

.category{
    position: relative;
    width: 100%;
    height: 300px;
    background-repeat:no-repeat !important;
    background-size:100% 100% !important;

}

.category-text{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.category-text hr{
	border-color:black;
    margin-top: 2px;
    margin-bottom: 5px;
}
.category-text-name{
	font-family: YouYuan ;
}
.category-text-description{
	font-family: YouYuan ;
	color:#6E6E6EE;
}