html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/**瀵艰埅鏍忔牱寮�**/
.navbar-style{
    background: rgba(10, 10, 10, 0.4);
    margin-bottom: 0 !important;
}
.navbar-style a{
    background:transparent !important;
    color:#fff !important
}  
.navbar-style a:hover {
    color:#45bcf9 !important;
    background:transparent;
    outline:0;
}  
.navbar-style a {
    transition: color 0.5s ease-in-out;
}/*-webkit-transition ;-moz-transition*/  

button.navbar-toggle > span.icon-bar {
    background-color:#dedede
}  



#footer{
	margin-top:20px;
    padding-top:20px;
    padding-bottom: 20px;
    width: 100%;
    background: #0f0503;
    height: auto;
    color: white;
}

#footer a{
    color: white;
}
#footer span{
    font-size: 20px;
}

#footer .raw div{
    text-align: center;
    height:auto;
}


#callme{
	position: fixed;
	left:20px;
	bottom: 50px;
	width: 60px;
}
